.healthstats {
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 1px solid #fbfbfb;
  border-radius: 6px;
  width: 258px;
  height: 124px;
  background-color: #fbfbfb;
}

.stats-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.stats-value {
  font-weight: bold;
}

.stats-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #fbfbfb;
  border-radius: 6px;
  background-color: #fbeaea;
}
