.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.sportsee-logo {
  width: 178px;
  height: 61px;
}

.nav-items {
  display: flex;
  gap: 1rem;
}
