.navbar-container {
  padding: 0 6rem 0 2rem;
  background-color: black;
}

.navbar {
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.sportsee-logo {
  width: 178px;
  height: 61px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: white;
}
