.radialchart {
  width: 100%;
  height: 263px;
  background-color: #f8f8f8;
  border-radius: 10px;
  position: relative;
  min-width: 210px;
}

.radialchart-title {
  margin: 0;
  padding: 1rem 0 0 1rem;
  position: absolute;
  color: #20253a;
  font-size: 16px;
  font-weight: 800;
}

.radialchart-bloc-score {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.radialchart-score {
  font-size: 26px;
  font-weight: bold;
  color: #282d30;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin: 0;
}

.radialchart-text {
  /* forcing a br with 50% width */
  width: 50%;
  text-align: center;

  font-size: 18px;
  color: #74798c;
}
